<script src="https://cdn.tailwindcss.com"></script>
<script src="/scripts/location_alert.js"></script>
<link rel="stylesheet" href="/css/location_alert.css">

<div class="w-full text-red-400 font-bold overflow-hidden py-2">
    <div class="flex w-max scroll-left">
        <a>
            <span id="scrolling-message" class="text-[4vw] sm:text-xl mx-8"></span>
            <span id="scrolling-message-clone" class="text-[4vw] sm:text-xl mx-8"></span>
        </a>
    </div>
</div>