<link rel="stylesheet" href="/css/location_alert.css">
<script src="/scripts/location_alert.js"></script>

    <div class="scrolling-banner">
        <div class="scrolling-text" id="banner-text">
            Loading location and temperature...
        </div>
    </div>
