<%- include("partials/header") %>
    <!-- Navbar -->
    <%- include("partials/navbar") %>
        <!-- Accessibility Sliding Bar -->
        <%- include("partials/sliding_bar") %>

            <main>

                    Team Name: BBY-13
                    Team Members:
                    <ul>
                        <li> Grace Jung </li>
                        <li> Armaan Brar </li>
                        <li> Justin Cardas </li>
                        <li> Ted Ip </li>
                        <li> Mohammad Sadeghi </li>
                    </ul>
                </main>
            </body>

            <!-- Footer -->
            <%- include("partials/footer") %>