<%- include("partials/header") %>
    <!-- Navbar -->
    <%- include("partials/navbar") %>

        <!-- Accessibility Sliding Bar -->
        <%- include("partials/sliding_bar") %>

            <main class="container mx-auto mt-8 flex-grow">
                <!-- Page Title -->
                <h1 class="text-lime-400 text-4xl font-bold text-left mb-12 ml-2">Games</h1>


                <!-- List of games -->

                <!-- inspired by tailwindcss.com -->
                <ul class="grid grid-cols-1 xl:grid-cols-3 gap-y-10 gap-x-6 items-start p-8">
                    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
                        <div class="order-1 sm:ml-6 xl:ml-0">
                            <h3 class="mb-1 text-slate-900 font-semibold">
                                <span class="mb-1 block text-sm leading-6 text-lime-500 font-bold">Real VS Ai</span>Spot
                                the real photo from the Ai-generated one.
                            </h3>
                            <div class="prose prose-slate prose-sm text-slate-600">
                                <p>Learn how to tell the difference between a real photo and an Ai-Generated one in this
                                    game.</p>
                            </div>

                            <div class="mt-6">
                                <a class="bg-gradient-to-r 
                                    from-lime-400 to-lime-300 text-white 
                                    text-xl font-bold py-2 px-4 
                                    rounded 
                                    shadow 
                                    hover:shadow-lg 
                                    transition-shadow" href="/real-vs-ai-game">Play
                                </a>
                            </div>

                        </div>
                        <img src="/ai-hand.png" alt=""
                            class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full"
                            width="1216" height="640">
                    </li>

                    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
                        <div class="order-1 sm:ml-6 xl:ml-0">
                            <h3 class="mb-1 text-slate-900 font-semibold">
                                <span class="mb-1 block text-sm leading-6 text-purple-500 font-bold">Have I Been
                                    Scammed?</span>Interactive quiz to test your ability to spot scams.
                            </h3>
                            <div class="prose prose-slate prose-sm text-slate-600">
                                <p>Test your instincts with real-world scenarios and learn to spot scams in this
                                    interactive quiz game.</p>
                            </div>

                            <div class="mt-6">
                                <a class="bg-gradient-to-r 
                                    from-purple-400 to-purple-300 text-white 
                                    text-xl font-bold py-2 px-4 
                                    rounded 
                                    shadow 
                                    hover:shadow-lg 
                                    transition-shadow" href="/have-i-been-scammed">Play
                                </a>
                            </div>

                        </div>
                        <img src="img/scammed.jpg" alt=""
                            class="aspect-square object-cover mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full"
                            width="1216" height="640">
                    </li>
                    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
                        <div class="order-1 sm:ml-6 xl:ml-0">
                            <h3 class="mb-1 text-slate-900 font-semibold">
                                <span class="mb-1 block text-sm leading-6 text-cyan-500">Game 3</span>Description of
                                game 3.
                            </h3>
                            <div class="prose prose-slate prose-sm text-slate-600">
                                <p>Game 3 description including more details.</p>
                            </div>

                            <div class="mt-6">
                                <a class="bg-gradient-to-r 
                                    from-cyan-400 to-cyan-300 text-white 
                                    text-xl font-bold py-2 px-4 
                                    rounded 
                                    shadow 
                                    hover:shadow-lg 
                                    transition-shadow" href="/game3">Play
                                </a>
                            </div>

                        </div>
                        <img src="/placeholder.png" alt=""
                            class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full"
                            width="1216" height="640">
                    </li>
                </ul>
            </main>

            <!-- Footer -->
            <%- include("partials/footer") %>