<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/scripts/navbar.js"></script>
</head>

<body class="bg-gray-100">
    <!-- Navbar -->
    <header class="text-black text-center py-4 ">
        <div id="navbar">
        </div>
    </header>

    <main class="container mx-auto mt-8 flex-grow min-h-screen flex flex-col">

        <h1 class="text-black text-4xl font-bold text-left mb-12 ml-2">Home</h1>

        <!-- Games Button -->
        <div class="flex justify-center mb-8">
            <button>
                <a href="/real-vs-ai" class="bg-gradient-to-r 
            from-lime-400 to-lime-300 text-white 
            text-2xl font-bold py-4 px-12 
            rounded 
            shadow 
            hover:shadow-lg 
            transition-shadow">
                    Games
                </a>
            </button>
        </div>

        <p class="text-xl text-center p-4">Learn about AI scams through our interactive games!</p>

        <!-- Sign up / Log in buttons -->
        <div class="flex justify-center mt-8 mb-8 gap-12">
            <Button>
                <a href="/signup" class="bg-gradient-to-r 
            from-blue-400 to-blue-300 text-white 
            text-2xl font-bold py-4 px-12 
            rounded 
            shadow 
            hover:shadow-lg 
            transition-shadow">
                    Sign Up
                </a>
            </Button>

            <Button>
                <a href="/login" class="bg-gray-400 text-white 
            text-2xl font-bold py-4 px-12 
            rounded 
            shadow 
            hover:shadow-lg 
            transition-shadow">
                    Log In
                </a>
            </Button>
        </div>
    </main>

<%- include("partials/footer") %>