<%- include("partials/header") %>
    <!-- Navbar -->
    <%- include("partials/navbar") %>

    <main class="container mx-auto mt-8">
        <!-- Progress bar -->
         <div id="progress-bar" class="w-3/4 bg-grary-200 rounded-full h-8 mb-4 mx-auto relative">
            <!-- Background Bar-->
            <div class="absolute inset-0 bg-gray-200 rounded-full"></div>
            <!-- Lime Progress Bar -->
            <div id="progress-bar-full" class="bg-gradient-to-r 
            from-lime-400 to-lime-300 rounded-full h-8 absolute top-0 left-0" style="width: 0%;"></div>
         </div>

        <div class="w-3/4 mx-auto flex justify-between items-center mb-4">
            <!-- Score -->
            <p id="progress-text" class="text-xl text-gray-600 font-bold">Round 0/10</p>
            
            <!-- Timer-->
            <p id="timer" class="text-xl font-bold text-500">10:00</p>
        </div>
         
        <div class="flex justify-center gap-4 mb-8">
            <div id="real-image-container" class="border-4 border-transparent">
                <!-- Placeholder for the real image (fetch from cloudinary) -->
                <img id="real-image" src="/real-hand.png" alt="Real Image" class="w-full shadow hover:cursor-pointer">
            </div>
            <div id="ai-image-container" class="border-4 border-transparent">
                <!-- Placeholder for the AI image (fetch from cloudinary) -->
                <img id="ai-image" src="/ai-hand.png" alt="AI Image" class="w-full shadow hover:cursor-pointer">
            </div>
        </div>

        <div class="flex justify-center mb-4">
            <button id="submit-answer" class="bg-gradient-to-r from-lime-400 to-lime-300 text-white font-bold py-2 px-4 rounded shadow hover:shadow-lg transition-shadow">
                Submit Answer
            </button>
            <button id="hint-button" class="ml-4 bg-gray-300 text-black font-bold py-2 px-4 rounded shadow hover:shadow-lg transition-shadow">
                Hint
            </button>
        </div>
    </main>

<!-- Footer -->
<%- include("partials/footer") %>