<header class=" text-black py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
        <h1 class="text-xl font-bold">IsThisMyGrandson.com</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="">
                        <img src="/public/icons/account_circle_black.svg" alt="Account"
                            class="w-8 h-8 inline-block mr-2"></a></li>
                
                <li><a href="">
                        <img src="/public/icons/menu_black.svg" alt="Menu"
                            class="w-8 h-8 inline-block mr-2"></a></li>
                
            </ul>
        </nav>
    </div>
</header>